.button {
    text-decoration: none;

    color: black;;

    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    outline: 2px solid #333;

    &:hover {
        color: blue;
        outline: 3px solid #777;
    }
}