---
import EducationEntry from './elements/EducationEntry.astro'
import ResumeSectionHeader from './ResumeSectionHeader.astro'

interface Props {
    education: EducationData[]
}
const { education } = Astro.props
---
<section class="mt-10">
    <ResumeSectionHeader title="Education" />
    <div class="space-y-4">{education.map((edu) => (<EducationEntry entry={edu}/>))}</div>
</section>