---
import ExperienceEntry from "./elements/ExperienceEntry.astro"
import ResumeSectionHeader from "./ResumeSectionHeader.astro"

interface Props {
    experience: ExperienceData[]
}
const { experience } = Astro.props
---
<section class="mt-10">
    <ResumeSectionHeader title="Experience" />
    <div class="space-y-8">{experience.map((exp) => (<ExperienceEntry experience={exp}/>))}</div>
</section>