---
import ProjectEntry from './elements/ProjectEntry.astro';
import ResumeSectionHeader from './ResumeSectionHeader.astro';

interface Props {
  projects: ResumeProjectData[]
}
const { projects } = Astro.props;
---
{projects.length > 0 && (
<section class="mt-10">
    <ResumeSectionHeader title="Projects" />
    <div class="space-y-8">
        {projects.map((project) => (<ProjectEntry project={project}/>))}
    </div>
</section>
)}