---
import SkillCategory from './elements/SkillCategory.astro';
import ResumeSectionHeader from './ResumeSectionHeader.astro';

interface Props {
  skills: SkillsData[]
}
const { skills } = Astro.props;
---
<section class="mt-10">
    <ResumeSectionHeader title="Skills" />
    <div class="space-y-3">
      {skills.map((cat) => (<SkillCategory category={cat}/>))}
    </div>
</section>