---
interface Props {
  tag: string;
  href: string;
}
const { tag, href } = Astro.props;
---
<a
  href={href}
  class="font-mono text-xs px-2 py-0.5 rounded-full border border-transparent text-muted-foreground shadow-sm hover:bg-primary-subtle hover:border-primary hover:text-primary transition-colors whitespace-nowrap"
>
  {tag}
</a>
